*.bak
__pycache__

/.vscode
/build
/dist
/.tox
/.pytest_cache
/.coverage
.python-version
.DS_Store

/docs/html
/docs/_build

/src/PyPubSub.egg-info
/src/Pypubsub.egg-info

/tests/suite/htmlcov/
/tests/*.pstats
/tests/suite/.coverage

/pypubsub.code-workspace
